<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>News App</title>
    <script src="https://kit.fontawesome.com/754146be48.js" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="/styles/main.css">
</head>
<body>
    <header>
        <h1>News App</h1>
        <div class="forms">
            <form class="d-flex" method="get" action="/source">
                <input class="form-control me-2" name="source" type="text" placeholder="Search based on source" >
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
            <form class="d-flex" method="get" action="/filter">
                <input class="form-control me-2" name="keyword" type="text" placeholder="Search based on keyword" >
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
        </div>
    </header>
    <div class="container">
            <% for (let i=0;i<news.length;i++){ %>
                <% if (news[i].urltoimage!==null) {%>
                <div class="card">
                    <div class="top">
                        <a href=<%= news[i].url %> >
                            <img src=<%= news[i].urltoimage %> href=<% news[i].url %>/>
                        </a>
                    </div>
                    <div class="bottom">
                        <h2><%= news[i].title %></h2>
                        <p><%= news[i].description %></p>
                    </div>
                    <!-- <div class="down">
                        <a href="/comments">
                            <span style="color: #000;">
                                <i class="fa-regular fa-comment fa-3x"></i>
                            </span>
                        </a>
                    </div> -->
                </div>
                <% } %>
            <% } %>
        </div>

</body>
</html>